body {
    margin: 0;
    font-family: "Lato";
}

.navbar {
    background-color: #ffffff88;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 3;
}

.navbar .navbar-item {
    color: #000000;
    font-size: 1em;
    margin: 0 auto;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}

.navbar .navbar-item:hover {
    background-color: #cccccc;
}

#inicio {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-image: url(../img/fondos/fondo1.jpg);
    background-position: center center;
    background-size: cover;
}

#inicio .avatar {
    border-radius: 100%;
}

#inicio .inicio-nombre, #inicio .inicio-cargo {
    text-align: center;
    margin: 10px;
    color: #ffffff;
}

#acerca, #experiencia {
    width: 100%;
}

#acerca .contenido, #experiencia .contenido {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

#acerca .contenido .acerca-contenido {
    text-align: justify;
    column-count: 2;
    column-gap: 10%;
    margin: 20px auto;
    line-height: 1.7em;
    width: 75%;
}

#experiencia .contenido {
    text-align: justify;
    column-gap: 10%;
    margin: 20px auto;
    line-height: 1.7em;
    width: 75%;
}

.seccion-titulo {
    font-size: 50px;
    color: #000000;
    text-align: center;
}

#tecnologias {
    width: 100%;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    background-image: url(../img/fondos/fondo2.jpg);
}

#tecnologias .contenido {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

#tecnologias .contenido .card {
    background-color: #66666688;
    box-shadow: 0 4px 8px 0 #00000011;
    display: inline-block;
    margin: 40px 10px;
    padding: 20px 10px;
    text-align: center;
    width: 350px;
}

#tecnologias .contenido .card .container {
    padding: 2px;
    text-align: center;
}

#tecnologias .contenido .card .container h4,
#tecnologias .contenido .card .container p {
    text-align: center;
    display: block;
    color: #ffffff;
}

#tecnologias .contenido .card .icon-html5 {
    color: rgb(241, 162, 13)
}

#tecnologias .contenido .card .icon-android {
    color: rgb(0, 255, 0)
}

#tecnologias .contenido .card .icon-apple {
    color: rgb(255, 255, 255)
}

@media only screen and (min-width: 375px) and (max-width: 410px) {
    #inicio .avatar {
        width: 50%;
    }

    #acerca .contenido .acerca-contenido {
        text-align: justify;
        column-count: 1;
        margin: 20px auto;
        line-height: 1.7em;
        width: 75%;
    }

    #experiencia .contenido  {
        text-align: justify;
        column-count: 1;
        margin: 20px auto;
        line-height: 1.7em;
        width: 75%;
    }
}

@media only screen and (min-width: 411px) and (max-width: 767px) {
    .navbar {
        background-color: #3e34cc;
        height: 100%;
        padding-top: 40px;
        position: fixed;
        overflow-x: hidden;
        text-align: center;
        top: 0;
        transition: .5s;
        width: 0;
        z-index: 3;
    }

    .navbar .navbar-item {
        padding: 10px 0;
        margin: 0 auto;
        text-decoration: none;
        color: #fff;
        font-size: .8em;
        text-transform: uppercase;
        display: block;
        transition: .5s;
    }

    #inicio .avatar {
        width: 75%;
    }

    #acerca .contenido .acerca-contenido {
        text-align: justify;
        column-count: 1;
        margin: 20px auto;
        line-height: 1.7em;
        width: 75%;
    }

    #experiencia .contenido  {
        text-align: justify;
        column-count: 1;
        margin: 20px auto;
        line-height: 1.7em;
        width: 75%;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    .navbar {
        background-color: #3e34cc;
        height: 100%;
        padding-top: 40px;
        position: fixed;
        overflow-x: hidden;
        text-align: center;
        top: 0;
        transition: .5s;
        width: 0;
        z-index: 3;
    }

    .navbar .navbar-item {
        padding: 10px 0;
        margin: 0 auto;
        text-decoration: none;
        color: #fff;
        font-size: .8em;
        text-transform: uppercase;
        display: block;
        transition: .5s;
    }
    
    #inicio .avatar {
        width: 300px;
    }
}